.container {
  background: #eee;
  border: 1px solid gray;
  width: 500px;
  height: 500px;
  margin-left: 20px;
}
.rectangle{
  fill: orange;
  fill-opacity: 0.5;
  fill-rule: evenodd;

  stroke: rgb(77, 11, 90);
  stroke-width: 4;
  stroke-opacity: 0.5;
  stroke-linejoin: bevel;
  stroke-dasharray: 5, 2, 2, 5;
  stroke-dashoffset: 2;
}
.line{
  stroke: red;
  stroke-width: 5;
  stroke-linecap: round;
}
